/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
  color: white;
}

.inner-box{
  background-color: red;
  /*Inner-box needs to be below box, otherwise there are no blue boxes*/
}

#outer-box{
  background-color: purple;
  /*padding is not needed here as it gets it from the box class*/
}