<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog application</title>
</head>
<body>
    <h1>What is your name?</h1>
    <form action="/enter" method="POST">
        <input type="text" name="fName" placeholder="Name">
         </br>
        <input type="Submit" value="Enter">
    </form>
</body>
</html>